*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #EDE7E2;
}
.header-banner{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
.banner-logo{
    position: absolute;
    padding-top: 20px;
    padding-left: 90px;

}
.social-icons{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 163vh;
    top: 15vh;
    size-adjust: 30%;
}
.row .col{
    text-align: center;
    size-adjust: 25%;
}
/* .categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.categories div{
    width: 100px;

} */
/* .social-icons image{
    ;
} */