*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.banner{
    width: 99%;
    border-radius: 2px;
    margin-top: 1vh;


    -webkit-box-shadow: -4px 4px 11px 3px rgba(217,189,217,1);
    -moz-box-shadow: -4px 4px 11px 3px rgba(217,189,217,1);
    box-shadow: -4px 4px 11px 3px rgba(217,189,217,1);
}
figure{
    display: flex;
    justify-content: center;
}