@import url("./reset.css");

body{
    background-image: url("../images/sobre/bgSobre.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: var(--text-color);
    font-family: var(--font-text2);
}

header img{
    display: block;
}
header ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 26px 0;
}
header ul li{
    list-style: none;
}
header ul li .icon{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background-color: var(--text-color);
    margin-bottom: 10px;
}
header ul li a{
    color: var(--text-color);
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
}

.dashboard{
    padding-left: 280px;
}

#header{
    width: 250px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
}
#header h1{
    color: var(--title-color);
    font-weight: 900;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
}

#header img {
    width: 80px;
    margin: 0 auto;
}
#header ul li a{
    display: block;
    line-height: 46px;
    text-decoration: none;
    color: var(--text-color);
    padding: 0 16px;
}

.table {
    color: var(--text-color);
}

.table img {
    width: 40px;
}

section{
    width: 100%;
    background-color: #fff3b0;
    padding: 50px;
}
section:first-child{
    border-radius: 30px 30px 0 0;
}
section:last-child{
    border-radius: 30px 30px 0 0;
}
section ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
section ul li{
    width: calc(50% - 8px);
    list-style: none;
}
section ul li .produto{
    display: flex;
    justify-content: space-between;
}
section ul li .produto-foto{
    width: 150px;
    height: 150px;
    background-color: var(--title-color);
    border-radius: 5px;
}
section ul li .produto-info{
    width: calc(100% - 166px);
}

@media only screen and (max-width: 768px){
    section ul{
        flex-wrap: wrap;
    }
    section ul li{
        width: 100%;
        margin-bottom: 26px;
    }
}

@media only screen and (max-width: 600px){
    header ul{
        flex-wrap: wrap;
        padding-bottom: 0;
    }
    header ul li .icon{
        width: 60px;
        height: 60px;
        margin: 0 auto;
    }
    header ul li span{
        display: none;
    }
    section ul li .produto{
        flex-wrap: wrap;
    }
    section ul li .produto-foto{
        width: 100%;
        height: 200px;
        margin-bottom: 16px;
    }
    section ul li .produto-info{
        width: 100%;
    }
    section ul li .produto-info p{
        text-align: justify;
    }
}