@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Tilt+Warp&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;    
    font-family: var(--font-text2);
}

:root {
    --font-text : 'Inter', sans-serif;
    --font-text2: 'Roboto Condensed', sans-serif;
    --font-title: 'Roboto Condensed', sans-serif;
    --font-title2: 'Tilt Warp', cursive;
    --text-color: #fff;
    --bg-color: #252525;
    --bg2-color: #FF8233;
    --dc-color: #C60D66;
    --title-color: #D62603;
}

body {
    background-color: #EDE7E2;
}

/*navbar*/
li{
    display: inline;
    cursor: pointer;
}
ul{
    list-style: none;
    margin: 0;
}
nav .image{
    text-align: center;
}
nav div img{
    width: 100px;
}
nav div h4{
    color: #fff;
}
.headNav {
    background-color: #252525;
    width: 100%;
    margin: auto;
}

.header-navbar-topics  ul li a{
    color: #ccc;
    font-size: 20px;
    font-weight: bold;
}
.header-navbar-topics  ul li a:hover{
    color: #c00424;
}
.header-navbar-topics  ul li a:active{
    color: #ccc;
}
nav i{
    margin: 0 10px;
}

/*nav*/
.header-navbar-topics{
    display: flex;
    align-items: center;
}
.header-navbar-topics .image{
    display: inline;
    width: 25%;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

/*Footer*/

.footer {
    color: var(--text-color);
    font-family: var(--font-text);
    padding: 10px;
    width: 100%;
    background-color: var(--bg-color);
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer .footer-content h3 {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.700);
    font-size: 22px;
    font-family: var(--font-title2);
}

.footer-content img{
    width: 200px;
}

.footer .local {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--title2-color);
}

.footer p span {
    color: var(--title-color);
    font-size: 10px;
}

.footer .copy{
    text-align: center;
    align-items: center;
    border-top: 1px solid #fff;
    margin-top: 50px;
}

.footer .copy p{
    margin-top: 5px;
}

.maps iframe{
    outline: 2px solid var(--bg2-color);
    border-radius: 10px;
    margin: 20px 0;
}

@media only screen and (max-width: 768px) {
    .footer-content .maps iframe{
        width: 500px;
    }
}

