@import url("./reset.css");

/*nav*/
.header-navbar-topics{
    display: flex;
    align-items: center;
}
.header-navbar-topics .image{
    display: inline;
    width: 25%;
}
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}
.mobile-menu{
    display: none;
    cursor: pointer;
}
.mobile-menu div{
    width: 32px;
    height: 2px;
    background-color: #fff;
    margin: 8px;
}

/*logo*/

.image-banner{
    width: 100vw;
}
.image-banner img{
    width: 100%;
    margin: 0 auto;
}

.header-banner{
    display: flex;
    position: relative;
    padding-top: 10px;
    justify-content: center;
    max-width: 1600px;
}

.banner-logo{
    position: absolute;
    top: 10%;
    left: 39%;

}
.row .col{
    text-align: center;
    justify-content: space-between;
}

.row .col img{
    width: 70%;
    transition: transform 0.3s ease-in-out;
}

.row .col img:hover {
    transform: scale(1.1);
}

.onScroll {
    position: fixed;
    display: flex;
    top: 0;
    flex-direction: column;
    height: 100vh;
    width: 120px;
    background-color: var(--bg-color);
    transition: 0.3s;
    z-index: 1;
}

.onScroll .col img {
    width: 80px;
}


/*Produtos*/
#categorias{
    margin: 0 auto;
}

.produtos {
    position: relative;
    margin: 0 20px 0 120px;
}

.produtos .title {
    font-family: var(--font-title2);
    text-align: center;
}

.produtos .title::after {
    content: '';
    border-radius: 5px;
    position: absolute;
    left: 2px;
    width: 40%;
    height: 3px;
    background-color: var(--bg-color);
    z-index: 1;
}
.produtos .title::before {
    content: '';
    border-radius: 5px;
    position: absolute;
    width: 40%;
    right: 2px;
    height: 3px;
    background-color: var(--bg-color);    
    z-index: 1;
}

.produtos {
    margin-bottom: 10px;
    
}

#combos,
#entradas,
#burgers,
#bebidas,
#sobremesas
 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
}

.content {
    cursor: pointer;
    margin: 30px 10px;
    padding: 5px;
    justify-content: center;
    height: 200px;
    display: flex;
    border-radius: 7px;
    transition: transform 0.1s ease-in, box-shadow 0.2s ease-in-out;
    border: 2px solid #ccc;
}

.produtos h2{
    padding: 5px;
    border-radius: 8px;
}

.content:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.content .pictures img {
    width: 8rem;
    height: 8rem;
    border-radius: 10px;
}

.components ul {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.pictures .components ul li img {
    width: 40px;
    height: 40px;
}

.content .pictures-text {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content .pictures-text h2 {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 5px;
    margin: 0px 15px 10px 15px;
    font-family: var(--font-title2);
    color: #fff;
    text-align: center;
    background-color: var(--bg-color);
}

.content .pictures-text p {
    font-size: 14px;
    font-family: var(--font-text2);
    font-weight: 400;
}

.pictures-text span{
    display: flex;
    flex-direction: row-reverse;
    font-weight: 500;
    font-family: var(--font-title2);
}

@media only screen and (max-width: 768px){
    .banner-logo{
        top: 4%;
        left: 37%;
        right: 22%;
    }
    .banner-logo img{
        width: 90%;
    }
    .onScroll{
        flex-direction: row;
        width: 100vw;
        height: 100px;
        align-items: center;
        background-color: #252525d8;
    }
    .produtos{
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .produtos .title{
        margin: 50px 0 20px 0;
    }
    .content{
        width: 600px;
        margin: 10px auto;
    }
    #combos,
    #entradas,
    #burgers,
    #bebidas,
    #sobremesas
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .produtos .title::before {
        width: 35%;
    }
    .produtos .title::after {
        width: 35%;
    }
}

@media only screen and (max-width: 400px){

    .menu{
        display: none;
        position: absolute;
        top: 12vh;
        right: 0;
        width: 50vw;
        height: 90vh;
        background: #252525d8;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        z-index: 1;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu ul li{
        margin: 0;
    }
    .mobile-menu{
        display: block;
    }
    .menu.active{
        display: flex;        
        transition: 0.7s ease-in;
    }

    #combos .content .pictures,
    #entradas .content .pictures,
    #bebidas .content .pictures{
        display: block;
        text-align: center;
    }
    #combos .content .pictures img,
    #entradas .content .pictures img,
    #bebidas .content .pictures img{
        width: 50%;
        height: auto;
    }

    .onScroll .col img {
        width: 36px;
    }

    .content{
        width: 300px;
        height: auto;
        margin: 10px auto;
        flex-wrap: wrap;
        justify-content: center;
        padding: 5px;
    }
    .content .pictures{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 5px;
    }
    .content .pictures img{
        width: 90px;
        height: 90px;
    }
    .content .pictures-text{
        width: 90%;
        margin-left: 0;
    }
    .content .pictures-text h2{
        width: 100%;
        margin: 8px auto;

    }
    footer{
        width: 100vw;
    }
    .footer-content .maps iframe{
        width: 200px;
    }
}