@import url("./reset.css");


/*logo*/
.image-banner{
    width: 100vw;
}
.image-banner img{
    width: 100%;
    margin: 0 auto;
}

.header-banner{
    display: flex;
    position: relative;
    padding-top: 10px;
    justify-content: center;
    max-width: 1600px;
}

.banner-logo{
    position: absolute;
    top: 10%;
    left: 39%;

}
.row .col{
    text-align: center;
    justify-content: space-between;
}

.row .col img{
    width: 70%;
    transition: transform 0.3s ease-in-out;
}

.row .col img:hover {
    transform: scale(1.1);
}

.onScroll {
    position: fixed;
    display: flex;
    top: 0;
    flex-direction: column;
    height: 100vh;
    width: 120px;
    background-color: var(--bg-color);
    transition: 0.3s;
    z-index: 1;
}

.onScroll .col img {
    width: 80px;
}


/*Produtos*/
#categorias{
    margin: 0 auto;
}

.produtos {
    position: relative;
    margin-left: 120px;
}

.produtos .title {
    font-family: var(--font-title2);
    text-align: center;
}

.produtos .title::after {
    content: '';
    border-radius: 5px;
    position: absolute;
    left: 2px;
    width: 40%;
    height: 3px;
    background-color: var(--bg-color);
    z-index: 1;
}
.produtos .title::before {
    content: '';
    border-radius: 5px;
    position: absolute;
    width: 40%;
    right: 2px;
    height: 3px;
    background-color: var(--bg-color);    
    z-index: 1;
}

.produtos {
    margin-bottom: 10px;
    
}

#combos,
#entradas,
#burgers,
#bebidas,
#sobremesas
 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: flex-start;
}

.content {
    cursor: pointer;
    margin: 30px 10px;
    padding: 10px;
    height: 200px;
    display: flex;
    border-radius: 7px;
    transition: transform 0.1s ease-in, box-shadow 0.2s ease-in-out;
    border: 2px solid #ccc;
}

.produtos h2{
    padding: 5px;
    border-radius: 8px;
}

.content:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}

.content .pictures img {
    width: 150px;
    height: 120px;
    border-radius: 10px;
}

.components ul {
    display: flex;
    gap: 10px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.pictures .components ul li img {
    width: 40px;
    height: 40px;
}

.content .pictures-text {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content .pictures-text h2 {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 5px;
    margin: 0px 15px 10px 15px;
    font-family: var(--font-title2);
    color: #fff;
    text-align: center;
    background-color: var(--bg-color);
}

.content .pictures-text p {
    font-size: 14px;
    font-family: var(--font-text2);
    font-weight: 400;
}

.pictures-text span{
    display: flex;
    flex-direction: row-reverse;
    font-weight: 500;
    font-family: var(--font-title2);
}

@media only screen and (max-width: 768px){
    .banner-logo{
        top: 4%;
        left: 37%;
        right: 22%;
    }
    .banner-logo img{
        width: 90%;
    }
    .onScroll{
        flex-direction: row;
        width: 100vw;
        height: 100px;
        align-items: center;
        background-color: #252525d8;
    }
    .produtos{
        width: 90%;
        margin: auto;
        padding: 0;
    }
    .produtos .title{
        margin: 50px 0 20px 0;
    }
    .content{
        width: 600px;
        margin: 10px auto;
    }
    #combos,
    #entradas,
    #burgers,
    #bebidas,
    #sobremesas
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .produtos .title::before {
        width: 35%;
    }
    .produtos .title::after {
        width: 35%;
    }
}