@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&family=Tilt+Warp&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-text : 'Inter', sans-serif;
    --font-text2: 'Roboto Condensed', sans-serif;
    --font-title: 'Roboto Condensed', sans-serif;
    --font-title2: 'Tilt Warp', cursive;
    --text-color: #fff;
    --bg-color: #252525;
    --bg2-color: #FF8233;
    --dc-color: #C60D66;
    --title-color: #D62603;
}

body {
    font-family: var(--font-text2);
    background-color: #EDE7E2;
    width: 100%;
    height: 100vh;
}

/*navbar*/
li{
    display: inline;
    cursor: pointer;
}
ul{
    list-style: none;
    margin: 0;
}
nav .image{
    text-align: center;
}
nav div img{
    width: 60px;
}
nav div h4{
    color: #fff;
}
.header-navbar{
    background-color: #252525;
}

.header-navbar-topics  ul li a{
    color: #ccc;
    font-size: 20px;
    font-weight: bold;
}
.header-navbar-topics  ul li a:hover{
    color: #c00424;
}
.header-navbar-topics  ul li a:active{
    color: #ccc;
}
nav i{
    margin: 0 10px;
}



/*Footer*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-family: var(--font-text);
    padding: 10px;
    width: 100%;
    background-color: var(--bg-color);
}

.footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .footer-content .local {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 40%;
}

.footer .footer-content h3 {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.700);
    font-size: 22px;
    font-family: var(--font-title2);
}
 
.footer img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 2px solid var(--bg2-color);
    background-color: var(--text-color);
    border-radius: 80px;
}

.footer .local {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--title-color);
}

.footer p span {
    color: var(--text-color);
    font-size: 10px;
}

.maps iframe{
    outline: 2px solid var(--bg2-color);
    border-radius: 10px;
}

.footer .footer-content .copy {
    color: white;
    font-size: 12px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

