@import url("./reset.css");

.header-banner{
    display: flex;
    padding-top: 10px;
    justify-content: center;
    max-width: 1600px;
}

.banner-logo{
    position: absolute;
    padding-top: 20px;
    padding-left: 90px;

}
.social-icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 163vh;
    top: 15vh;
    size-adjust: 30%;
}

.row .col{
    text-align: center;
    justify-content: space-between;
}

.row .col img{
    width: 70%;
    transition: transform 0.3s ease-in-out;
}

.row .col img:hover {
    transform: scale(1.1);
}

/*Produtos*/

.burgers {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 200px;
    width: 400px;
    transition:transform 0.3s ease-in , box-shadow 0.2s ease-in-out;
    border: 1px solid #ccc;
}

.content:hover {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.content .pictures img {
    width: 120px;
    height: 100px;
    border-radius: 10px;
}

.components ul {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.pictures .components ul li img {
    width: 40px;
    height: 40px;
}

.content .pictures-text {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content .pictures-text h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;
}

.content .pictures-text p {
    font-size: 12px;
}


/* .categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.categories div{
    width: 100px;

} */
/* .social-icons image{
    ;
} */