@import url("./reset.css");

.header-banner{
    display: flex;
    padding-top: 10px;
    justify-content: center;
}
.banner-logo{
    position: absolute;
    padding-top: 20px;
    padding-left: 90px;

}
.social-icons{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 163vh;
    top: 15vh;
    size-adjust: 30%;
}

.row .col{
    text-align: center;
    justify-content: space-between;
}

.row .col img{
    width: 70%;
    transition: transform 0.3s ease-in-out;
}

.row .col img:hover {
    transform: scale(1.1);
}

/*Produtos*/

.burgers {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content {
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 600px;
    height: 260px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.content .pictures img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.components ul {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.pictures .components ul li img {
    width: 40px;
    height: 40px;
}

.content .pictures-text {
    width: 50%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content .pictures-text h2 {
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding-bottom: 5px;
}

.content .pictures-text p {
    font-size: 12px;
}

/*Footer*/

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: var(--text-color);
    font-family: var(--font-text);
    padding: 10px;
    width: 100%;
    background-color: var(--bg-color);
}

.footer div {
    display: flex;
    flex-direction: column;
}

.footer h3 {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.700);
}
 
.footer img {
    width: 150px;
    margin: 0 auto;
    border: 2px solid var(--bg2-color);
    background-color: var(--text-color);
    border-radius: 80px;
}

.footer p {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: var(--title-color);
}

.footer p span {
    color: var(--text-color);
    font-size: 12px;
}

.maps iframe{
    outline: 2px solid var(--bg2-color);
    border-radius: 10px;
}

/* .categories{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.categories div{
    width: 100px;

} */
/* .social-icons image{
    ;
} */