.db-categories {
    display: flex;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.db-categories div a img {
    width: 100px;
    transition: transform 0.3s ease-in-out;
}

.db-categories div a img:hover {
    transform: scale(1.05);
}