@import url('../../../App.css');

/*Header style*/

.db-header {
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.db-header img {
    width: 80px;
}

.db-header nav {
    margin: 0 auto;
}

.db-header nav ul {
    display: flex;
    gap: 50px;
}

.db-header nav ul .db-header-nav-link {
    color: var(--text-color);
    font-family: var(--font-title2);
    font-size: 16px;
}

.db-header nav ul .db-header-nav-link:hover {
    color: var(--title-color);
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}

/*Header Icons*/
.db-icons {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.db-icons .db-header-icons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.db-icons .db-header-icons .db-icons-itens {
    width: 80%;
    height: 80%;
    color: var(--text-color);
}

.db-icons .db-header-icons .db-icons-itens:hover {
    color: var(--title-color);
    border-radius: 30px;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}